header{
    position: absolute;
    width: 100%;
}

main{
    background-color: #f7f1f5;
}
.banner-section{
    height: 100vh;
    padding-top: 150px;
}

.get-started{
    border-radius: 22px;
    background-color: #73085C;
    color: white;
}
.branding-text{
    color:#73085C;
}